body{
    /* width: 70%;
    height: 100px; */
    margin: 30px;
    border: 2px solid black;
    padding: 20px;
}
h1{
    background-image: linear-gradient(to right,rgb(4, 37, 4),rgba(97, 160, 97, 0.911));
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
    color: #fff;
}
fieldset{
    height: 250px;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    background-image: linear-gradient(to right,rgba(11, 66, 11, 0.603),khaki);
    
}
input,textarea{
    display: block;
    width: 100%;
    height: 20px;
    margin: 5px auto;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    width: 100%;
    background-color: #002b23;
    color: #fff;
    border-radius: 5px;
}